<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- A bean by default is a singleton -->

	<bean id="person" class="com.elenagarrone.spring.test.Person"
		scope="prototype">
		<constructor-arg value="777" name="id"></constructor-arg>
		<constructor-arg value="Mary" name="name"></constructor-arg>
		
		<property name="taxId">
			<value>321</value>
		</property>
		<property name="address" ref="address"></property>
	</bean>


	<bean id="address" class="com.elenagarrone.spring.test.Address">
		<constructor-arg value="1 Church Lane" name="street"></constructor-arg>
		<constructor-arg name="postcode" value="9876"></constructor-arg>
	</bean>
</beans>
